In [1]:
%load_ext autoreload
%autoreload 2

import sys, os
sys.path.append("/".join(os.getcwd().split("/")[:-2]) + "/")

## INSEE

### Communes

In [2]:
from katalogue.insee.communes import DépôtINSEECommunes

dépôt = DépôtINSEECommunes()
communes = dépôt.communes()
communes.sample(5)

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
18594,COM,48150,76.0,48,48D,482,0,SAINT FLOUR DE MERCOIRE,Saint-Flour-de-Mercoire,Saint-Flour-de-Mercoire,4807,NaN
28185,COM,67063,44.0,67,6AE,675,0,BREITENBACH,Breitenbach,Breitenbach,6711,NaN
33553,COM,80124,32.0,80,80D,801,0,BOURSEVILLE,Bourseville,Bourseville,8016,NaN
12358,COM,31296,76.0,31,31D,312,0,LESTELLE DE SAINT MARTORY,Lestelle-de-Saint-Martory,Lestelle-de-Saint-Martory,3102,NaN
29342,COM,69268,84.0,69,69D,691,0,VOURLES,Vourles,Vourles,6905,NaN

## Sirene

In [20]:
from katalogue.insee.sirene_entreprises import DépôtINSEESireneEntreprises

dépôt = DépôtINSEESireneEntreprises()
dépôt.entreprises(nombre_maximum_entreprises=100)

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,societeMissionUniteLegale,caractereEmployeurUniteLegale
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,32.12Z,NAFRev2,65,NaN,NaN,N
1,1807254,O,NaN,1972-05-01,NaN,M,JACQUES-LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,85.59A,NAFRev2,22,NaN,NaN,N
2,5410220,O,True,1954-12-25,NaN,M,GEORGES,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,22.02,NAP,15,NaN,NaN,N
3,5410345,O,True,NaN,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,79.06,NAP,10,NaN,NaN,N
4,5410394,O,True,1954-12-25,NaN,M,ROBERT,ALFRED,NaN,NaN,...,NaN,NaN,NaN,1000,64.42,NAP,18,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5441597,O,True,NaN,NaN,M,JEAN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,64.45,NAP,19,NaN,NaN,N
96,5441613,O,True,NaN,NaN,F,M,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,62.44,NAP,14,NaN,NaN,N
97,5441621,O,True,NaN,NaN,F,HENRIETTE,EPS,BOREL,NaN,...,NaN,NaN,NaN,1000,00.97,NAP,17,NaN,NaN,N
98,5441662,O,True,NaN,NaN,M,JEAN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,62.11,NAP,11,NaN,NaN,N
99,5450010,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5499,00.97,NAP,11,NaN,NaN,N

In [22]:
dépôt.entreprises_avec_codes_activite(["01.11Z", "01.13Z"], nombre_maximum_entreprises=200)

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,societeMissionUniteLegale,caractereEmployeurUniteLegale
894,5743182,O,NaN,1957-01-01,NaN,M,LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,01.11Z,NAFRev2,23,NaN,NaN,N
1771,5944103,O,NaN,1959-01-01,NaN,F,GERMAINE,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,01.11Z,NAFRev2,26,NaN,NaN,N
2377,6044564,O,NaN,1960-01-01,NaN,M,CHRISTIAN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,01.11Z,NAFRev2,34,NaN,NaN,N
2391,6050116,O,NaN,1960-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5599,01.11Z,NAFRev2,18,NaN,NaN,N
3392,6341374,O,NaN,1963-01-01,NaN,M,FERNAND,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,01.11Z,NAFRev2,20,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363442,300206893,O,NaN,1900-01-01,NaN,M,JEAN,PIERRE,NaN,NaN,...,NaN,NaN,NaN,1000,01.11Z,NAFRev2,12,NaN,NaN,N
363481,300207628,O,NaN,1974-01-01,NaN,M,CLAUDE,MARCEL,JEAN,NaN,...,NaN,NaN,NaN,1000,01.11Z,NAFRev2,29,NaN,NaN,N
363689,300211620,O,NaN,1974-01-01,NaN,F,LILIANE,GHYSLAINE,NaN,NaN,...,NaN,NaN,NaN,1000,01.11Z,NAFRev2,38,NaN,NaN,N
363723,300212339,O,NaN,1974-01-01,NaN,M,SERGE,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,01.11Z,NAFRev2,42,NaN,NaN,O
364163,300221082,O,NaN,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6533,01.11Z,NAFRev2,13,NaN,NaN,N

In [25]:
coopératives_agricoles = dépôt.entreprises_avec_codes_categorie_juridique([6317], nombre_maximum_entreprises=10)
coopératives_agricoles

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,societeMissionUniteLegale,caractereEmployeurUniteLegale
221,5520119,O,NaN,1955-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,L'ABBEVILLOISE,NaN,NaN,6317,51.2A,NAF1993,24,NaN,NaN,N
945,5750500,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,62.12,NAP,18,NaN,NaN,N
14070,16650913,O,NaN,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,51.2A,NAF1993,11,NaN,NaN,N
21802,24047151,O,NaN,1998-01-01,COOPAM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,01.13Z,NAFRev2,14,O,NaN,O
22302,24060733,O,NaN,1999-11-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,43.99C,NAFRev2,11,O,NaN,O
28402,27150184,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,57.04,NAP,29,NaN,NaN,N
142509,71201594,O,NaN,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,46.31Z,NAFRev2,42,O,NaN,O
146333,72802614,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,59.04,NAP,15,NaN,NaN,N
172057,99382152,O,NaN,1997-04-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,23.32Z,NAFRev2,17,O,NaN,O
354116,300016136,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,36.10,NAP,16,NaN,NaN,N

## FAO

### Récoltes

In [57]:
from katalogue.fao.récoltes import DépôtFAORécoltes

dépôt = DépôtFAORécoltes()
récoltes = dépôt.récoltes()

### Commerce

In [49]:
from katalogue.fao.commerce import DépôtFAOCommerce

dépôt = DépôtFAOCommerce()
commerce = dépôt.commerce()

In [50]:
commerce.sample(3)

,code_pays_déclarant,code_pays_déclarant_(m49),pays_déclarants,code_pays_partenaire,code_pays_partenaire_(m49),pays_partenaires,code_produit,code_produit_(cpc),produit,code_élément,élément,code_année,année,unité,valeur,symbole
11206774,27,'100,Bulgarie,54,'208,Danemark,252,'2166,Huile de coco,5610,Importations - Quantité,2014,2014,tonnes,1.0,A
1850855,46,'178,Congo,32,'120,Cameroun,20,'F0020,Pain,5610,Importations - Quantité,2013,2013,tonnes,1.0,A
31991047,11,'040,Autriche,221,'512,Oman,1276,'34120,Acides gras monocarboxyliques industriels; hui...,5910,Exportations - Quantité,2004,2004,tonnes,1.0,A

## Data Gouv

### Associations

In [34]:
from katalogue.datagouv.associations import DépôtDataGouvAssociations

In [36]:
dépôt = DépôtDataGouvAssociations()
assos = dépôt.associations(sauvegarder_localement=False)

In [37]:
assos

,id,titre,objet,objet_social1,objet_social2,date_creat,adrs_codeinsee,adrs_codepostal,titre_court,date_disso,objet_social_parent_id,objet_social_parent_lib,objet_social_lib,objet_social_parent_id_2,objet_social_parent_lib_2,objet_social_lib_2
0,711S0711000019,LA GAULE AUTUNOISE,OBTENIR L'AFFERMAGE DE LOTS DE PECHE SUR LE TE...,13010.0,0.0,NaT,71014,71400,NaN,NaT,13000.0,CHASSE PÊCHE,pêche,NaN,NaN,NaN
1,711S0711000036,LA LIBRE PENSEE D'EPINAC,FOURNIT AUX SOCIETAIRES DES TEMOINS AUX MAIRIE...,19000.0,0.0,NaT,71190,71360,NaN,NaT,19000.0,INTERVENTIONS SOCIALES,INTERVENTIONS SOCIALES,NaN,NaN,NaN
2,711S0711000041,LE SOUCI DU LENDEMAIN,PARER AUX PREMIERS BESOINS OCCASIONNES PAR LE ...,19000.0,0.0,NaT,71014,71400,NaN,NaT,19000.0,INTERVENTIONS SOCIALES,INTERVENTIONS SOCIALES,NaN,NaN,NaN
3,711S0711000074,SYNDICAT DE CHASSEURS DE DEZIZE,REPRESSION DU BRACONNAGE ET VEILLER Â LA PREPA...,13005.0,0.0,NaT,71174,71150,NaN,NaT,13000.0,CHASSE PÊCHE,chasse,NaN,NaN,NaN
4,711S0711000080,ASS. DES CHEFS DE FAMILLES CATHOLIQUES DU CANT...,"ASSURER LA NEUTRALITE A L'ECOLE, LA PROTECTION...",15005.0,0.0,NaT,71239,71760,NaN,NaT,15000.0,ÉDUCATION FORMATION,parents d'élèves,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197867,W613005263,BLEU EPHEMERE,Promouvoir et développer les activités artisti...,6020.0,0,2022-10-10,61097,61400.0,BLEU EPHEMERE,NaT,6000.0,"CULTURE, PRATIQUES D'ACTIVITÉS ARTISTIQUES, PR...","arts graphiques, bandes dessinées, peinture, s...",NaN,NaN,NaN
3197868,W613005264,ÉDITIONS LES MONDES MUTANTS,"Créer, éditer et diffuser des romans, des recu...",7000.0,0,2022-10-12,61038,61130.0,EDITIONS LES MONDES MUTANTS,NaT,7000.0,"CLUBS DE LOISIRS, RELATIONS","CLUBS DE LOISIRS, RELATIONS",NaN,NaN,NaN
3197869,W613005265,BALL TRAP PERCHE,Cette association a un but sportif et non lucr...,11000.0,10000,2022-10-20,61394,61130.0,BT PERCHE,NaT,11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR","SPORTS, ACTIVITÉS DE PLEIN AIR",10000.0,PRÉSERVATION DU PATRIMOINE,PRÉSERVATION DU PATRIMOINE
3197870,W613005266,LA RECYCL' DE LONGNY,actions environnementales : donner une seconde...,24005.0,20000,2022-10-20,61230,61290.0,LA RECYCL',NaT,24000.0,"ENVIRONNEMENT, CADRE DE VIE","pollutions, assainissement",20000.0,"ASSOCIATIONS CARITATIVES, HUMANITAIRES, AIDE A...","ASSOCIATIONS CARITATIVES, HUMANITAIRES, AIDE A..."
3197871,W613005267,LES COUR'JOUONS,cette association a pour objet la gestion admi...,14030.0,10000,2022-10-26,61029,61560.0,LES COUR'JOUONS,NaT,14000.0,"AMICALES, GROUPEMENTS AFFINITAIRES, GROUPEMENT...",association du personnel d'une entreprise (hor...,10000.0,PRÉSERVATION DU PATRIMOINE,PRÉSERVATION DU PATRIMOINE