In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
import sys, os

sys.path.append(os.getcwd().replace("documentation/exemples", ""))

In [6]:
from katalogue.insee.communes import DépôtINSEECommunes


dépôt = DépôtINSEECommunes()
communes = dépôt.communes()

In [7]:
communes

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37596,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37597,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37598,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37599,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37600,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [12]:
ls -la /home/mathieu/.katalogue/insee/

total 5232
drwxrwxr-x 2 mathieu mathieu    4096 nov.  24 16:14 ./
drwxrwxr-x 3 mathieu mathieu    4096 nov.  24 15:51 ../
-rw-rw-r-- 1 mathieu mathieu 2671586 nov.  24 16:08 commune_2022.csv
-rw-rw-r-- 1 mathieu mathieu 2671586 nov.  24 16:14 communes.csv

In [7]:
dépôt.télécharger()

/home/mathieu/.katalogue/insee/commune_2022.csv

In [5]:
print(3)

3

In [5]:
dépôt.load_communes

In [4]:
ajouter_3(3)

6

In [14]:
dossier

'~/.katalogue/'

'/home/mathieu/.katalogue/'